@import 'SCSS/_scss.scss';

//*{border: black solid 1px}

html,body
{
  min-width: 250px;
  //width: 100%;
  //margin: 0;
  padding: 0;
  border: 0;
  background-color: #c1e2b3; // get attention "pattern subject"
  //margin-right: auto;
  //margin-left: auto;
  //max-width: 1200px;
}

body
{
  padding-top: 70px;
}

main
{
  //margin: 0;
  //padding: 0;
  //border: 0;
  // USTAWIĆ EKRAN (wyciemniający w postaci najładki na obraz) PROSZĄCY O OBRUCENIE URZĄDZENIA MOBILNEGO
  //margin-right: auto;
  //margin-left: auto;
  max-width: 100%;
  //max-width: 1200px;

  //background-color: red; // get attention "pattern subject"
  //width: 100%; // get attention "size subject"
  //height: 90%; // ? tak zostawić ?
}
section
{
  //max-width: 100%;
  background-color: lightblue;
}

article
{
  //max-width: 100%;
  background-color: #4cae4c;
}

// jezeli bedzie potrzebne nadanie specyficznych właściwości poszczegolnym
// wielkościom bootstrapowym to wymagane jest doinstalowanie (moze czas bawic sie npm ?? ) bootstrapa z npm
// https://github.com/twbs/bootstrap-sass#d-npm--nodejs
// przykład
//@media (min-width: @screen-md-min) {
//}
//p
//{max-width: 100%;}

footer
{
  background-color: #42BA85;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.grid {
  display:grid;
  //grid-template-columns: 200px 1fr 1fr;
}

//.grid div:nth-child(even){
//  background-color: red;
//}
//grid div:nth-child(odd){
//  background-color: green;
//}


//.header__nav_collapse_age-time
//{
//
////  miejsce na klasy dla JStowego zegara lat
//}
//
//.main__section-up-r_date
//{
////  archiwum
//}
//
//.main__section-up-r_ad
//{
//  //  reklama
//}
//
//.header__nav__collapse__menu
//{
//  text-align: center;
//}
//
//.header__nav__shadow
//{
//  border-bottom: #8D9BCF medium ridge; // #5D7FC4 do analizy przy zastosowanych patternach. Może zmienić na szary przechodzacy w kolor niebieski albo sam szary?
//}